# Dependencies:
/vendor
/node_modules
/bower_components

# Compiled assets:
/assets/css
/assets/js
/assets/fonts
/assets/raw/css
/assets/raw/js/external
/assets/admin/js
/assets/admin/raw/js/external

# Generated tmp:
/builds
composer.lock