/* ======= Post Styling ======= */
.post-body {
    position: relative;
}

.post-header {
    margin-bottom: 30px;
    .post-title {
        color: @color-primary;
        margin-top: 0;
        font-size: 36px;
        .post-green & {
            color: @color-green;
        }
        .post-blue & {
            color: @color-blue;
        }
        .post-orange & {
            color: @color-orange;
        }
        .post-red & {
            color: @color-red;
        }
        .post-pink & {
            color: @color-pink;
        }
        .post-purple & {
            color: @color-purple;
        }
    }
    .icon {
        font-size: 30px;
    }
    .meta {
        color: @grey;
    }
}